 ../Assignment2/a2q1.jpeg
        ../Assignment2/a2q10.jpeg
        ../Assignment2/a2q11i.jpeg
        ../Assignment2/a2q11ii.jpeg
        ../Assignment2/a2q12.jpeg
        ../Assignment2/a2q13.jpeg
        ../Assignment2/a2q2.jpeg
        ../Assignment2/a2q3.jpeg
        ../Assignment2/a2q4.jpeg
        ../Assignment2/a2q5i.jpeg
        ../Assignment2/a2q5ii.jpeg
        ../Assignment2/a2q6.jpeg
        ../Assignment2/a2q7.jpeg
        ../Assignment2/a2q8.jpeg
        ../Assignment2/a2q9.jpeg
        ../Assignment4/a4q1.jpeg
        ../Assignment4/a4q2.jpeg
        ../Assignment4/a4q3.jpeg
        ../Assignment4/a4q4.jpeg
        ../Assignment4/a4q5.jpeg
        ../Assignment4/a4q6i.jpeg
        ../Assignment4/a4q6ii.jpeg
        ../Assignment4/a4q7i.jpeg
        ../Assignment4/a4q7ii.jpeg
        ../Assignment4/a4q8i.jpeg
        ../Assignment4/a4q8ii.jpeg
        ../Assignment4/a4q8iii.jpeg
        ../Assignment4/a4q9i.jpeg
        ../Assignment4/a4q9ii.jpeg
        ../Assignment4/a4q9iii.jpeg
        ../Assignment4/a4q9iv.jpeg
        ../Assignment4/a4q9v.jpeg