../Assignment4/a4q1.jpeg
        ../Assignment4/a4q2.jpeg
        ../Assignment4/a4q3.jpeg
        ../Assignment4/a4q4.jpeg
        ../Assignment4/a4q5.jpeg
        ../Assignment4/a4q6i.jpeg
        ../Assignment4/a4q6ii.jpeg
        ../Assignment4/a4q7i.jpeg
        ../Assignment4/a4q7ii.jpeg
        ../Assignment4/a4q8i.jpeg
        ../Assignment4/a4q8ii.jpeg
        ../Assignment4/a4q8iii.jpeg
        ../Assignment4/a4q9i.jpeg
        ../Assignment4/a4q9ii.jpeg
        ../Assignment4/a4q9iii.jpeg
        ../Assignment4/a4q9iv.jpeg
        ../Assignment4/a4q9v.jpeg